html body{
	width: 100%;
}
html{
	overflow-x: hidden; 
	overflow-y: auto; 
}
#header{

}
.menu{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	float:left;
	list-style:none;
	padding: 5px 15px 0 0;
}
#menuHome{
	text-decoration: none;
    color: black;
}
#menuHome:hover{
	color: #666;
}
.menu:hover{
	color: #666;
}